/* alfa-slab-one-regular - latin */
@font-face {
  font-family: 'Alfa Slab One';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/fonts/alfa-slab-one-v16-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/alfa-slab-one-v16-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fira-sans-regular - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/fonts/fira-sans-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/fira-sans-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.heading-text {
  font-family: "Fira Sans", sans-serif;
  font-size: 32px;
  font-weight: 600;
  padding: 10px 0 25px 0;
  color: var(--primary-text-color);
}

h1, .title-text {
  font-family: "Fira Sans", sans-serif;
  font-size: 25px;
  font-weight: 500;
  color: var(--primary-text-color);
  border-left: var(--primary-color) 8px solid;
  padding-left: 10px;
}

h2, .subtitle-text {
  font-family: "Fira Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: var(--primary-text-color);
}

.text {
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.2px;
  color: var(--primary-text-color);

  & p {
    margin: 12px 2px;
  }
}

.subtext {
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.1px;
}

table {
  background-color: #FFFFFF;
  padding: 10px;
  border-spacing: 0;
  border: 1px solid #383838;

  td, th {
    padding: 5px;
    vertical-align: top;
    text-align: left;

    &.title {
      font-weight: bold;
    }
  }
}
